@model PasswordResetQueryViewModel

<form asp-controller="Auth" asp-action="RequestPasswordResetEmail" method="post">
  <div class="">
    <input asp-for="RedirectUrl" type="hidden"/>
    <label class="label-text">Введите email:</label>
    <input class="w-100" type="email" asp-for="Email">
    <div id="ForgotPasswordModalErrors">
      @if (ViewData.ContainsKey("CanNotResetPasswordError") && ViewBag.CanNotResetPasswordError == true)
      {
        <span id="ModalEmailInput" class="text-danger label-text" asp-validation-for="Email"></span>

        @if (ViewData.ContainsKey("EmailNotConfirmedError") && ViewBag.EmailNotConfirmedError == true)
        {
          <label class="mt-2 text-danger label-text">*Невозможно сбросить пароль - этот аккаунт не был подтвержден.</label>
        }
        @if (ViewData.ContainsKey("EmailNotFoundError") && ViewBag.EmailNotFoundError == true)
        {
          <label class="mt-2 text-danger label-text">*Эта почта не зарегистрирована.</label>
        }
        @if (ViewData.ContainsKey("SendingEmailError") && ViewBag.SendingEmailError == true)
        {
          <label class="mt-2 text-danger label-text">*Внутренняя ошибка сервера - не удалось отправить письмо.</label>
        }
      }
    </div>
    
    <div class="mt-2 mb-2">
      <span style="font-size: 14px;">На этот email будет отправлена ссылка для сброса пароля</span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Закрыть</button>
    <button type="submit" class="btn btn-primary modal-btn">Отправить</button>
  </div>
</form>