@model ResetPasswordViewModel


<!DOCTYPE html>

<html>
<head>
  <title>Reset password</title>
  <link href=@Url.Content("~/css/app.css") rel="stylesheet" type="text/css"/>
  <link href=@Url.Content("~/css/bootstrap.css") rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-4 col-md-6 col-sm-12">
      <div class="form-contaienr">
        <h5 class="mb-2">Сброс пароля</h5>
        <form asp-controller="Auth" asp-action="ResetPassword" method="post">
          <div>
            <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="PasswordResetToken"/>
            <label class="text-secondary label-text">Новый пароль</label>
            <input class="w-100" type="password" asp-for="Password">
            <span class="text-danger label-text" asp-validation-for="Password"></span>
            <label class="text-secondary label-text">Подтверждение нового пароля</label>
            <input class="w-100" type="password" asp-for="ConfirmPassword">
            <span class="text-danger label-text" asp-validation-for="ConfirmPassword"></span>
          </div>
          <button class="mt-4 w-100 register-btn" type="submit">Сохранить</button>
        </form>
      </div>

    </div>
  </div>
</div>

<script src=@Url.Content("~/js/bootstrap.bundle.js")></script>

</body>
</html>