<a class="navbar-brand align-items-center d-flex column-gap-2 p-0" href="https://www.notexpress.ru">
    <img src=@Url.Content("~/img/logo.svg") alt="" width="40" height="40">
    <p class="fw-bold m-auto d-none d-sm-flex d-md-flex d-xl-flex d-xxl-flex" style="font-size: 16px; text-decoration: none solid rgb(10, 10, 10)">
        NoteXpress
    </p>
</a>
