<footer>
    <nav class="navbar navbar-light p-4">
        <div class="container-fluid p-0">
            <div class="navbar-brand align-items-center d-flex column-gap-2 p-0">
                <img src="/img/logo.svg" alt="" width="40" height="40">
            </div>
            <a class="btn my-light-btn">
                Privacy Policy
            </a>
        </div>
    </nav>
</footer>
